# OpenMS Streamlit template
workspaces-streamlit-template
build
myenv
hooks/__pycache__/
build.log
run_app.spec
clean-up-workspaces.log

# FLASHViewer
workspaces
Pipfile

.DS_Store

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

**/__pycache__
openms-streamlit-vue-component/
js-component/
