[browser]
gatherUsageStats = false

[global]
developmentMode = false

[server]
address = "0.0.0.0"
maxUploadSize =  200 #MB
port = 8501 # should be same as configured in deployment repo
address = "0.0.0.0"
enableCORS = false
enableXsrfProtection = false


[theme]
# The preset Streamlit theme that your custom theme inherits from. One of "light" or "dark".
# base =

# Primary accent color for interactive elements.
primaryColor = "#29379b"

# Background color for the main content area.
# backgroundColor =

# Background color used for the sidebar and most interactive widgets.
# secondaryBackgroundColor =

# Color used for almost all text.
# textColor =

# Font family for all text in the app, except code blocks. One of "sans serif", "serif", or "monospace".
# font =
